#cabeceraweb{
   background-color:#ABE0DA;
   color:white;
   font-family:Notable ;
   padding: 10px;
   font-size: 50PX;

}
#categorias {
    background-color: #EDEDED;
    font-family: Ribeye;
    text-align: center;
}

#categorias a {
    
    color: black;
    padding: 10px;
    text-decoration: none;
}

#categorias a:hover {
    color:#27D8DB;
}
main{
	display: flex;
}
#article1 {
    width: 70%;
    padding: 20px;
    font-family:Life Savers

;
}
#nota {
	background-color: lightgoldenrodyellow;
	padding: 20px;
    order: -1;
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Life Savers";
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid #f3a294;
    position: relative;
}
#pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute; /* Permite mover las imágenes libremente usando coordenadas dentro del aside */
}

#logo
{
   width: 150px; /* El tamaño que quieras para la lupa */
  height: auto;
  top: 180px;   /* Distancia desde el borde superior del aside */
  left: 25px;   /* Distancia desde el borde izquierdo del aside */
    }
#dlazos
{
    width: 80px;  /* El tamaño que quieras para el personaje */
  height: auto;
  top: 40px;    /* Distancia desde el borde superior del aside */
  left: 110px;  /* Distancia desde el borde izquierdo del aside */

}



clasificacion {
	
  direction: rtl; /* Invierte el orden para que funcione el selector hover */
  unicode-bidi: bidi-override;
  display: flex;
  font-size: 25px;
  width: fit-content;
}

