#cabeceraweb{
   background-color:red;
   color:white;
   font-family:Notable ;
   padding: 10px;
   font-size: 50PX;

}
#categorias {
    background-color: #EDEDED;
    font-family: Ribeye;
    text-align: center;
}

#categorias a {
    
    color: black;
    padding: 10px;
    text-decoration: none;
}

#categorias a:hover {
    color:#B0361C;
}
main {
    display: flex;
    align-items: flex-start;
}

#nota {
   background-color: #FFB9AB;
    padding: 20px;
    order: -1;
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Life Savers";
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid #f3a294;


}

#nota img {
    width: 100%;
    border-radius: 10px;
   
    animation:jello-horizontal .9s linear both} @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}


#articulo1 {
    width: 70%;
    padding: 20px;
    font-family: Life Savers;
}



#details1 {
    width: 550px;
    margin-top: 40px;
    margin: 50px auto 0;
}

#summary1 {
    background-color: #FFB9AB;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
}

#summary1:hover {
    background-color: #F58F82;
    transform: scale(1.02);
}

#capitulo1 {
    
    background-color: #FFF1EE;
    padding: 25px;
    text-align: center;
    border: 2px solid #FFB9AB;
    border-radius: 0 0 10px 10px;
}




#articulo3 {
    width: 70%;
    padding: 20px;
    font-family: Life Savers;
}

#details3 {
    width: 550px;
    margin-top: 40px;
    margin: 50px auto 0;
}

#summary3 {
    background-color: #FFB9AB;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);

    transition: 0.3s;


}
#summary3:hover {
    background-color: #F58F82;
    transform: scale(1.02);
}
#capitulo3 {
    
    background-color: #FFF1EE;
    padding: 25px;
    text-align: center;
    border: 2px solid #FFB9AB;
    border-radius: 0 0 10px 10px;
}


#articulo4 {
    width: 70%;
    padding: 20px;
    font-family: Life Savers;
}

#details4 {
    width: 550px;
    margin-top: 40px;
    margin: 50px auto 0;
}

#summary4 {
    background-color: #FFB9AB;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);

    transition: 0.3s;


}
#summary4:hover {
    background-color: #F58F82;
    transform: scale(1.02);
}
#capitulo4 {
    
    background-color: #FFF1EE;
    padding: 25px;
    text-align: center;
    border: 2px solid #FFB9AB;
    border-radius: 0 0 10px 10px;
}


